@font-face {
	font-family: "Pangolin";
	src: url(./../../../fonts/Pangolin-Regular.ttf);
}
@font-face {
	font-family: "NovaMono-Regular";
	src: url(./../../../fonts/NovaMono-Regular.ttf);
}
* {
	margin:  0;
	padding: 0;

	font-family: "Pangolin";
	user-select: none;
}

#container {
	position: relative;
	margin: 0 auto;
	width: 1000px;
	z-index: 2;
}

#level {
	margin-top: 100px;
	text-align: center;
	font-size: 70px;
}
#you-lose {
	position: fixed;
    top: 100px;
    left: 50%;
    margin-left: -250px;

    width: 500px;
    height: 250px;

    display: none;
}
#level-text {
	position: relative;

	text-shadow: 0 0 11px black;
	font-family: "NovaMono-Regular";
}

#main {
}

#main > * {
	margin: 10px 0;
}

#main ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#main ul li {
	width: 50px;
	height: 50px;
}

#positions {
	margin-top: 150px;
}

#positions img {
	margin: 0 auto;
	width: 100px;
	display: block;
}

#platform {
	height: 25px;
	background: url(./images/bottom.png);
}

#keys li {
	text-align: center;
	font-size: 30px;
	line-height: 50px;

	box-shadow: 0 0 1px 0;
	border-radius: 5px;
}

#bad-guy {
	position: fixed;
	top: 225px;
    left: 50%;
    margin-left: -750px;

    display: none;
}

#settings {
	position: fixed;
	padding: 10px;
	top: 50px;
	left: 50%;
	margin-left: -225px;
	width: 450px;

	background: white;
	box-shadow: 0 0 1px 0;

	display: none;
}
.settings-group {
	margin: 20px 0;
}
#settings .settings-group:first-child {
	margin-top: 0;
}
.settings-group label {
	margin-bottom: 5px;
	display: block;
}
.settings-group input {
	padding: 5px 5px;
}
#settings .close {
	position: absolute;
	top: 2px;
	right: 10px;

	font-size: 25px;
	cursor: pointer;
}
#settings-button {
	margin-top: 10px;
	padding: 5px 10px;

	background: rgba(0,0,0, .2);
	border-radius: 5px;
	border: none;

	cursor: pointer;
}

#background {
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	background-image: url(images/dead_fasterer_play.gif);
	background-size: cover;
	background-position: center;
	display: none;
	z-index: 1;
}